
@{
    Layout = "~/Views/Shared/_ourLayout.cshtml";
 }
<div class="container">
<h1 class="text-center text-white"></h1>
<div class="login-wrap">
    <div class="login-html">
        <div class="login-form">
            <div class="sign-in-htm">
                <div class="group">
                    <label for="user" class="label">Username</label>
                    <input id="user" type="text" class="input">
                </div>
                <div class="group">
                    <label for="pass" class="label">Password</label>
                    <input id="pass" type="password" class="input" data-type="password">
                </div>
            </div>
        </div>
    </div>
</div>
</div>